/* Variables */
:root {
    /* Colors */
    --primary: #FFA500;

    --bg-light: #FFFFFF;
    --bg-dark: #151515;
    --bg-dark-2: #232323;

    --txt-primary: var(--bg-dark);
    --txt-secondary: #4F4D4D;
    --txt-pastel: #666666;
    --txt-light: var(--bg-light);

    /* Heading styles */
    --h1: 72px;
    --h1-line: 80px;

    --h2: 56px;
    --h2-line: 64px;

    --h3: 40px;
    --h3-line: 48px;

    --h4: 32px;
    --h4-line: 40px;

    --h5: 24px;
    --h5-line: 32px;

    --h6: 20px;
    --h6-line: 28px;

    /* Paragraph styles */
    --p1: 18px;
    --p1-line: 28px;

    --p2: 16px;
    --p2-line: 26px;

    --p3: 14px;
    --p3-line: 16px;

    --p4: 12px;
    --p4-line: 16px;

    --border: 8px;
    --card-border: 16px;
}

/* Global Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: var(--bg-light);
    color: var(--txt-primary);
}

h1 {
    font-size: var(--h1);
    line-height: var(--h1-line);
}

h2 {
    font-size: var(--h2);
    line-height: var(--h2-line);
}

h3 {
    font-size: var(--h3);
    line-height: var(--h3-line);
}

h4 {
    font-size: var(--h4);
    line-height: var(--h4-line);
}

h5 {
    font-size: var(--h5);
    line-height: var(--h5-line);
}

h6 {
    font-size: var(--h6);
    line-height: var(--h6-line);
}

p {
    font-size: var(--p2);
    line-height: var(--p2-line);
}

span,
.txt-yellow {
    color: var(--primary);
}

img {
    width: 100%;
    display: block;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.btn-primary {
    font-family: "Oswald", sans-serif;
    background-color: var(--primary);
    padding: 12px 20px;
    border: 4px solid var(--bg-dark-2);
    border-radius: 40px;
    border-top: none;
    border-left: none;
    color: var(--bg-light);
    font-size: var(--p2);
    font-weight: 600;
    cursor: pointer;
    transition: 0.4ms;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-border-b {
    border: 4px solid var(--bg-light);
    border-top: none;
    border-left: none;
}

.mx-auto {
    margin: 0 auto;
}

.dark-bg {
    background-color: var(--bg-dark);
}





/* Header */
.header {
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav Styles */
.navbar {
    padding: 24px 0;
}

.nav-links {
    margin-right: 48px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--txt-secondary);
    padding-left: 32px;
    text-decoration: none;
    transform: 0.9ms;
}

.nav-links a:hover {
    color: var(--primary);
}

/* ========== Hero Section Styles ========= */
.hero {
    padding: 120px 45px 200px;
    background: linear-gradient(to top, rgba(255, 165, 0, 0.3), #FFFFFF);
}


/* =========== Right Div Style ============== */
.right-card {
    margin-top: -40px !important;
}

.stat-card {
    border: 1px solid #EEEEEE;
    margin-top: 80px;
    background-color: var(--bg-light);
    padding: 17px;
    border-radius: var(--card-border);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transform: rotate(16deg);
}

.income-card {
    transform: rotate(-16deg);
}

.income-card>p {
    font-size: var(--p2);
    font-weight: 600;
}

/* User Card Styles */
.user-card {
    align-items: center;
    gap: 15px;
}

.avatar-group {
    margin-right: 10px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid var(--bg-light);
    overflow: hidden;
    margin-left: -15px;
    /* Overlap effect */
}

.avatar:first-child {
    margin-left: 0;
}

.rating-text {
    font-size: var(--p3);
    color: var(--txt-secondary);
}

/* =========== Center Div Style ============== */

.center-div,
.sell-div {
    text-align: center;
    width: 840px;
}

.center-div>div {
    margin-bottom: 16px;
}

.center-div>div>div,
.sell-div>div>div {
    height: 30px;
    width: 65px;
    margin-right: 8px;
}

.center-div>div>div img,
.sell-div>div>div img {
    border-radius: var(--border);
}

.center-div h1 {
    margin-bottom: 32px;
}

.center-div h3 {
    margin-bottom: 16px;
}

.center-div>p,
.sell-div>p {
    margin: 0 auto;
    font-size: var(--p1);
    color: var(--txt-secondary);
    margin-bottom: 40px;
    max-width: 550px;
}

/* =========== Left Div Style ============== */
.income-card h6 {
    margin-bottom: 20px;
}

.chart-container {
    display: flex;
    gap: 14px;
    padding-top: 10px;
    align-items: flex-end;
}

.bar-group {
    text-align: center;
}

.bar-group p {
    font-size: 8px;
}

.bar {
    width: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.bar.active {
    background-color: var(--primary);
}

.bar-group p {
    /* font-size: 10px; */
    color: var(--txt-pastel);
}

/* ========== Statistics Style ========== */
.stats-container {
    padding: 60px 0 0 0;
    text-align: center;
}

.stats-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.stats-container>h5 {
    margin-bottom: 32px;
}




.stats-card {
    border: 1px solid #EEEEEE;
    padding: 44px 16px;
    border-radius: var(--card-border);
}

.stats-card p {
    color: var(--txt-secondary);
}

.stats-card h3 {
    margin-bottom: 12px;
}

/*  ========== Why Us Styles ========= */
.why-us-content {
    color: var(--bg-light);
    width: 50%;
}

.why-us-content>div>div {
    width: 64px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: var(--border);
    margin-right: 8px;
    margin-bottom: 12px;
}

.why-us-content>div>div img {
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
}

.why-us-content>p {
    margin: 16px 0 40px 0;
}

.why-us-list {
    flex: 1;
}

.why-circle {
    width: 280px;
    height: 280px;
    padding: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--bg-dark-2);
    border: 8px solid var(--primary);
    border-top: none;
    border-left: none;
    border-right: none;
}

.why-circle img {
    height: 120px;
    width: 120px;
    margin: 0 auto;
    align-content: center;
}

/* ========== Sells Section ========== */
.sell-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    padding: 32px;
    border-radius: var(--card-border);
}

.card-text-content {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.card-title {
    color: var(--primary);
    font-size: var(--p1);
}

.rocket-wrapper {
    width: 64px;
    height: 64px;
}

.vertical-divider {
    height: 48px;
    border-left: 3px solid #FFE5B4;

}

.check-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.check-item {
    align-items: center;
    gap: 12px;
}

.circle-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    /* Prevents icon from squishing on long text */
}

.check-list p {
    font-size: var(--p2);
    color: var(--txt-secondary);
    margin: 0;
}

/* ============ Our Approach Styles ============ */
.approach-wrapper {
    align-items: center;
    gap: 80px;
}


.image-side {
    width: 50%;
    gap: 24px;
    align-items: flex-start;
}


.approach-img {
    border-radius: var(--card-border);
    object-fit: cover;
}

.short {
    margin-top: 100px;
}


.content-side {
    width: 50%;
    color: var(--bg-light);
}

.accent-container {
    margin: 40px 0;
}

.border-left {
    border-left: 1px solid rgba(236, 236, 236, 0.2) !important;

}

.info-group {
    padding-left: 32px;
    border-left: 2px solid var(--primary);
}


.icon-text {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.emoji {
    font-size: 24px;
}

.section-divider {
    border: none;
    border-top: 1px solid rgba(236, 236, 236, 0.2);
    margin: 30px 0 30px 8px;
}

.description {
    opacity: 0.8;
    max-width: 500px;
}

.call-to-action {
    margin-top: 20px;
}